.dormTitle {
  color: white;
  text-align: center;
  padding-top: 4rem;
  font-size: 60px;
}

.floorTitle {
  color: white;
  margin-top: 40px;
  text-align: center;
}

.dormImage {
  display: block;
  margin: auto;
  /* padding: 4rem 0; */
  z-index: 1;
}

.tooltip {
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  z-index: 1;
}

/* Additional styles for improved visual appearance */
.area {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  transition: background-color 0.3s;
  outline: 2px solid #ffffff; /* Set the border color and width */
  display: block;
  z-index: 2;
}

.clickableArea {
  position: relative;
  width: 15px;
  height: 15px;
  background-color: pink;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 2;
}

.area:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.hoveredText {
  position: absolute;
  bottom: 100%;
  left: calc(-60px + 50%);
  transform: translateX(-50%) translateY(-10px);
  background-color: #faf3e0;
  color: rgb(55, 83, 140);
  border: 1px solid #a0a1a1;
  padding: 10px;
  border-radius: 3px;
  white-space: nowrap;
  z-index: 2;
}
