/* SearchBar.module.css */

.body {
  font-family: "Optima", sans-serif;
  color: white;
}

.input {
  background-color: #b8d5ff;
  color: black;
  padding: 6px 10px;
  border-radius: 10px;
  border: none;
  font-family: "Optima", sans-serif;
}

.input::placeholder {
  color: black;
  font-family: "Optima", sans-serif;
}

.select {
  width: 25%;
  background-color: #b8d5ff;
  color: black;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  font-family: "Optima", sans-serif;
  margin-left: 2px;
}

.searchButton {
  background-color: #b8d5ff;
  color: black;
  border: none;
  padding: 6px 12px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 14px;
  font-family: "Optima", sans-serif;
}

.searchButton:hover {
  background-color: #bebebe;
}

.reviewButton {
  margin-bottom: 5px;
  background-color: #0074b3;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 14px;
}

.SearchBar-results {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: blue gray;
  padding-top: 20px;
  margin-top: 20px;
  cursor: pointer;
}

.SearchBar-results li {
  color: black;
  font-family: "Optima", sans-serif;
  display: flex;
  align-items: flex-start;
  padding-left: 2px;
  list-style: none;
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #b8d5ff; /* Optional: add a separator between items */
}
