.dormTitle {
  text-align: center;
  padding-top: 4rem;
  font-size: 60px;
}

.floorTitle {
  margin-top: 40px;
  text-align: center;
}

.dormImage {
  display: block;
  margin: auto;
  padding: 4rem 0;
}
