/* SearchBar.module.css */

.body {
  font-family: Arial, sans-serif;
  color: white;
}

.input {
  background-color: #0074b3;
  color: white;
  padding: 6px 10px;
  border-radius: 10px;
  border: none;
}

.input::placeholder {
  color: #ffffff;
}

.select {
  width: 31.5%;
  background-color: #0074b3;
  color: white;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
}

.searchButton {
  background-color: #0074b3;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 14px;
}

.reviewButton {
  margin-bottom: 5px;
  background-color: #0074b3;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 14px;
}

.SearchBar-results {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: blue gray;
  padding-top: 20px;
  margin-top: 20px;
}

.SearchBar-results li {
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: flex-start;
  padding-left: 2px;
  list-style: none;
  padding: 8px;
  border-bottom: 1px solid rgb(55, 83, 140); /* Optional: add a separator between items */
}
