.body {
  font-family: sans-serif;
  font-size: 1.25rem;
  line-height: 150%;
  background-color: white;
}

.article {
  position: relative;
  top: 50%;
  text-align: center;
  transform: translate(0, -50%);
  padding: 1rem;
}

.h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  color: rgb(18, 57, 93);
  text-shadow: 0 2px 2px rgb(117, 163, 205);
  border-color: #a0a1a1;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 25px 30px;
}

.h2 {
  font-size: 1.75rem;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
  font-family: Arial, Times, serif;
  text-align: center;
  color: white;
}

.h3 {
  font-size: 3rem;
  padding-bottom: 1.25rem;
  padding-top: 1.75rem;
  font-family: Arial, Times, serif;
  text-align: center;
  color: white;
}

/* Pattern styles */
.container {
  display: grid;
  grid-template-columns: 25% 75%;
  height: 100vh;
}

.leftHalf {
  background: rgb(117, 163, 205);
  grid-column: 1;
  color: white;
}

.rightHalf {
  background: rgb(18, 57, 93);
  grid-column: 2;
  text-align: center; /* Center text content */
}

.profileButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgb(117, 163, 205);
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  width: 150px;
  height: 50px;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.userIcon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  display: block;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.stuff {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.pantherImage {
  display: block;
  margin: 0;
  padding: 0rem;
}

/*set the default color of the stars*/
.star-rating {
  color: #bebebe;
  font-size: 2em;
}
/*create the star*/
.my-star::before {
  content: "\002605";
}
/*remove the default style (italic) of the star*/
.my-star {
  font-style: unset !important;
}
/*set active star color*/
.is-active {
  color: #fb8900;
}
/*set color on hover*/
.my-star:not(.is-active):hover {
  color: #fb8900;
}

.rating-box {
  position: relative;
  background: #fff;
  padding: 25px 50px 35px;
  border-radius: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  margin: 0 auto; /* Center horizontally */
  text-align: center; /* Center text content */
  padding-top: 2rem;
}
.rating-box header {
  font-size: 22px;
  color: #dadada;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
}
.rating-box .stars {
  display: flex;
  align-items: center;
  gap: 25px;
}
.stars i {
  color: #bebebe;
  font-size: 35px;
  cursor: pointer;
  transition: color 0.2s ease;
}
.stars i.active {
  color: #ff9c1a;
}
.starscontainer {
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  color: white;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  /* any additional styling as needed */
}

.imageContainer {
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  padding-top: 3rem;
}

.backButton {
  width: 10%;
  background-color: #0074b3;
  color: white;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
}
