.body {
  font-family: sans-serif;
  font-size: 1.25rem;
  line-height: 150%;
  background-color: white;
}

.article {
  position: relative;
  top: 50%;
  text-align: center;
  transform: translate(0, -50%);
  padding: 1rem;
}

.h1 {
  font-size: 5rem;
  padding-bottom: 2rem;
  padding-top: 1rem;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  background-color: white;
  color: #00008b;
  text-shadow: 0 2px 2px #040409;
  border-color: white;
}

.h2 {
  font-size: 3rem;
  padding-bottom: 2rem;
  padding-top: 1rem;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  background-color: white;
  color: #00008b;
  text-shadow: 0 2px 2px #040409;
  border-color: white;
}

/* Pattern styles */
.container {
  display: grid;
  grid-template-columns: 25% 75%;
  height: 100vh;
}

/*set the default color of the stars*/
.star-rating {
  color: #bebebe;
  font-size: 2em;
}
/*create the star*/
.my-star::before {
  content: "\002605";
}
/*remove the default style (italic) of the star*/
.my-star {
  font-style: unset !important;
}
/*set active star color*/
.is-active {
  color: #fb8900;
}
/*set color on hover*/
.my-star:not(.is-active):hover {
  color: #fb8900;
}

.rating-box {
  position: relative;
  background: #fff;
  padding: 25px 50px 35px;
  border-radius: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  margin: 0 auto; /* Center horizontally */
  text-align: center; /* Center text content */
}
.rating-box header {
  font-size: 22px;
  color: #dadada;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
}
.rating-box .stars {
  display: flex;
  align-items: center;
  gap: 25px;
}
.stars i {
  color: #bebebe;
  font-size: 35px;
  cursor: pointer;
  transition: color 0.2s ease;
}
.stars i.active {
  color: #ff9c1a;
}
.starscontainer {
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  /* any additional styling as needed */
}

.imageContainer {
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
}

.backButton {
  background-color: #0074b3;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 14px;
}

.backButton:hover {
  background-color: #005a99;
}
